<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main/index.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Wexo</title>

    <script th:inline="javascript">

        // Initialize Model Attributes here.
        const data = JSON.parse(/*[[${data}]]*/ '{}')
    </script>
</head>
<body>
    <p>Hello there!</p>

    <script th:src="@{/js/main/index.js}"></script>
</body>
</html>
