:root {
	
	--main-color: #5865F2;
	--secondary-color: #474A51;
	--background-color: #36393E;
}

body {
	
	margin: 0;
	font-family: Arial, sans-serif;
	
	background: var(--background-color);
	color: white;
}

/* Navigation Bar: */
.navbar {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 5rem;
	
	background: var(--background-color);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
	
	z-index: 100;
}

.navbar ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.misc {
	
	width: 75%;
	margin-top: 1rem;
}

.misc li {
	
	float: left;
}

.navbar li a {
	
	display: block;
	color: white;
	text-align: center;
	padding: 1rem 1.5rem;
	text-decoration: none;
}

.navbar .home img {
	
	width: 7.5rem;
	height: auto;
	
	/* Center the logo in the navigation bar horizontally. */
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.search-container {
	
	/* Center the search bar in the navigation bar horizontally and vertically. */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-form {
	
	display: flex;
	align-items: center;
	
	width: 30rem;
	height: 1rem;
	
	border-radius: 4rem;
	padding: 1rem 1.5rem;
	
	background: white;
	color: black;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
}

.search-form input {
	
	width: 100%;
	border: none;
	outline: none;
	
	background: transparent;
}

/* Searchbar icon and button: */
.search-form button {
	
	border: none;
	outline: none;
	
	background: transparent;
	cursor: pointer;
	
	/* Align the button to the right. */
	margin-left: auto;
	padding: 0;
}

.search-form img {
	
	width: 2rem;
	height: auto;
}

.data {
	
	width: 10%;
	height: 1rem;
	
	position: absolute;
	top: 50%;
	right: 1%;
	transform: translate(-1%, -50%);
	
	display: flex;
	justify-content: left;
	
	border-radius: 4rem;
	padding: 1rem 1.25rem;
	
	background: var(--secondary-color);
	color: white;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
}

.data li {
	
	float: left;
}

.data button {
	
	border: none;
	outline: none;
	
	background: transparent;
	cursor: pointer;
	
	/* Align the button to the right. */
	margin-left: auto;
	padding: 0;
}

.data img {
	
	width: 1rem;
	height: auto;
}

/* Entries: */
.container {
	
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.grid {
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 2rem;
	
	width: 75%;
	margin-top: 8.5rem;
}

@media only screen and (max-width: 600px) {
	
	.grid {
		
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (min-width: 600px) {
	
	.grid {
		
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (min-width: 900px) {
	
	.grid {
		
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 1200px) {
	
	.grid {
		
		grid-template-columns: repeat(3, 1fr);
	}
}

@media only screen and (min-width: 1500px) {
	
	.grid {
		
		grid-template-columns: repeat(4, 1fr);
	}
}

.entry a img {
	
	width: 22rem;
	height: auto;
	
	border: 0.125rem solid white;
	border-radius: 2.5%;
	transition: all .5s ease;
}

.entry a img:hover {
	
	transform: scale(1.1);
	box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .5);
}

/* Customize scrollbar. */
::-webkit-scrollbar {
	
	width: .5rem;
}

::-webkit-scrollbar-track {
	
	/* Hide the scrollbar track. */
	background: transparent;
}

::-webkit-scrollbar-thumb {
	
	background: gray;
	border: .5rem solid gray;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	
	background: #555;
}
