:root {
	
	--nav-color: #36393E;
	--main-color: #5865F2;
}

body {
	
	margin: 0;
	font-family: Arial, sans-serif;
}

.primary {
	
	background-color: var(--main-color) !important;
	color: white !important;
}

.primary:hover {
	
	background-color: white !important;
	color: var(--main-color) !important;
}

nav {
	
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
}

.navbar {
	
	overflow: hidden;
	padding: 0 1rem;
	
	background-color: var(--nav-color);
	color: white;
}

.navbar a {
	
	float: left;
	font-size: 1rem;
	text-align: center;
	padding: .875rem 1rem;
	text-decoration: none;
	
	background-color: inherit;
	color: inherit;
	transition: all .5s ease;
}

.dropdown {
	
	float: left;
	overflow: hidden;
}

.dropdown .dropdown-button {
	
	font-size: 1rem;
	border: none;
	outline: none;
	padding: .875rem 1rem;
	font-family: inherit;
	margin: 0;
	cursor: pointer;
	
	background-color: inherit;
	color: inherit;
	transition: all .5s ease;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
	
	background-color: white;
	color: black;
}

.dropdown-content {
	
	display: none;
	position: absolute;
	min-width: 10rem;
	box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
	z-index: 1;
}

.dropdown-content a {
	
	float: none;
	padding: .875rem 1rem;
	text-decoration: none;
	display: block;
	text-align: left;
	
	background-color: white;
	color: black;
	transition: all .5s ease;
}

.dropdown-content a:hover {
	
	background-color: gray;
	color: black;
}

.dropdown:hover .dropdown-content {
	
	display: block;
}

.search {
	
	float: right;
	
	position: relative;
	margin: .75rem 0;
}
