:root {
	
	--nav-color: #36393E;
	--main-color: #5865F2;
}

body {
	
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Navigation bar: */
.nav ul {
	
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	
	background-color: var(--nav-color);
	color: white;
}

.nav li {
	
	float: left;
}

.nav li a {
	
	display: block;
	padding: .5rem;
	
	text-decoration: none;
	background-color: var(--main-color);
	color: white;
	transition: all .5s ease;
}

.nav li a:hover {
	
	background-color: white;
	color: var(--main-color);
}

.nav li:last-of-type {
	
	margin-left: auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Genre dropdown menu: */
.nav .dropdown  .dropdown-button {
	
	padding: 1rem;
	font-size: 1rem;
	border: none;
	
	background-color: var(--main-color);
	color: white;
	transition: all .5s ease;
}

.nav .dropdown {
	
	position: relative;
	display: inline-block;
}

.nav .dropdown .dropdown-content {
	
	display: none;
	position: absolute;
	background-color: white;
	min-width: 10rem;
	box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
	z-index: 1;
}

.nav .dropdown .dropdown-content a {
	
	display: block;
	text-decoration: none;
	padding: .75rem 1rem;
	
	color: black;
	transition: all .5s ease;
}

.nav .dropdown .dropdown-content a:hover {
	
	background-color: gray;
	color: white;
}

.nav .dropdown:hover .dropdown-content {
	
	display: block;
}

.nav .dropdown:hover .dropdown-button {
	
	background-color: white;
	color: var(--main-color);
	cursor: pointer;
}
