<!DOCTYPE html>
<html lang="da"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/entry.css}" type="text/css"/>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
	<title>WEXO</title>
</head>
<body>
	<div class="container">
		<div class="cover">
			<img alt="Cover Image" th:src="@{${entry.getBestCover(1080, 1920)}}"/>
		</div>
		<div class="title">
			<h1 th:text="${entry.getTitle()}"/>
		</div>
		<div class="release-year">
			<h2>Udgivelses År</h2>
			<p th:text="${entry.getReleaseYear()}"/>
		</div>
		<div class="description">
			<p th:text="${entry.getDescription()}"/>
		</div>
		<div class="genres">
			<h2>Genre</h2>
			<ul th:each="genre : ${entry.getGenres()}">
				<li th:text="${genre}"/>
			</ul>
		</div>
		<div class="actors">
			<h2>Skuespillere</h2>
			<ul th:each="actor : ${entry.getActors()}">
				<li th:text="${actor}"/>
			</ul>
		</div>
		<div class="directors">
			<h2>Instruktører</h2>
			<ul th:each="director : ${entry.getDirectors()}">
				<li th:text="${director}"/>
			</ul>
		</div>
	</div>
</body>
</html>
