<!DOCTYPE HTML>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" th:href="@{/css/error.css}"/>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
	<title>WEXO</title>
</head>
<body>
	<div class="container">
		<div class="grid">
			<div class="icon">
				<img alt="Error Icon" th:src="@{/img/icons/error.svg}"/>
			</div>
			<div class="title">
				<p>Der skete en fejl,</p>
				<p>prøv igen senere!</p>
			</div>
			<div class="message">
				<p th:text="${cause}"/>
			</div>
		</div>
	</div>
</body>
</html>
