<!DOCTYPE HTML>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
	<script th:src="@{/js/search.js}" defer></script>
	<title>WEXO</title>
</head>
<body>
	<div class="navbar">
		<ul>
			<li>
				<!-- Home Button / Logo -->
				<a class="home" th:href="@{/}">
					<img alt="Home Icon" th:src="@{/img/logo-light.svg}"/>
				</a>
			</li>
			
			<li>
				<div class="search-container">
					<form action="/" method="get" class="search-form">
						<input id="query" name="search" placeholder="Søg..." type="text"/>
						<button type="submit">
							<img alt="Search Icon" th:src="@{/img/icons/search.svg}"/>
						</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="container">
		<div class="grid">
			<div class="entry" th:each="entry : ${entries}">
				<a th:href="@{/entry/{id}(id=${entry.getId()})}">
					<!-- Get the cover closest to 4K portrait resolution: -->
					<img th:alt="${entry.getTitle()}" th:src="@{${entry.getBestCover(2160, 3840)}}"/>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
