<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
	<title>WEXO</title>
</head>
<body>
<ul>
	<li><a th:href="@{/}">Hjem</a></li>
	<li>
		<div class="genre-dropdown">
			<button class="genre-dropbtn">Genre</button>
			<div class="genre-dropdown-content">
				<a th:each="genre : ${genres.keySet()}" th:href="@{/genre/{id}(id=${genre})}" th:text="${genre}"/>
			</div>
		</div>
	</li>
	<li>
		<form>
			<label>
				<input name="search" placeholder="Søg..." type="text">
				<button type="submit"><i class="fa fa-search"></i></button>
			</label>
		</form>
	</li>
</ul>
<div class="container">
	<div class="content">
		<div th:each="entry : ${entries}">
			<div class="entry">
				<div class="entry-title">
					<a th:href="@{/entry/{id}(id=${entry.getId()})}" th:text="${entry.getTitle()}"></a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
