<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="da"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
	<title>WEXO</title>
</head>
<body>
<nav>
	<div class="navbar">
		<a class="primary" th:href="@{/}">Hjem</a>
		<div class="dropdown">
			<button class="dropdown-button">Genre
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a th:each="genre : ${genres.keySet()}" th:href="'/?genre=' + ${genre.toLowerCase()}"
				   th:text="${genre}"></a>
			</div>
		</div>
		<div class="search">
			<form action="/" method="get">
				<label>
					<input name="search" placeholder="Søg..." type="text">
					<button type="submit"><i class="fa fa-search"></i></button>
				</label>
			</form>
		</div>
	</div>
</nav>

<div class="content">
	<div th:each="entry : ${entries}">
		<div class="entry">
			<div class="entry-title">
				<a th:href="@{/entry/{id}(id=${entry.getId()})}" th:text="${entry.getTitle()}"></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
