:root {
    --bg--primary: #ffffff;
    --bg--secondary: #E90023;
    --bg--secondaryf: #7796CB;
    --bg--secondaryd: #576490;
    --font--color--primary: #222222;
    --font--color--secondary: #ffffff;

}

body {
    background-color: var(--bg--primary);
}

header {
    background: var(--bg--secondary);
}

header::after {

    content: "";
    display: table;
    clear: both;
}

.container {

    width: 90%;
    margin: 0 auto;
}

.title {

    float: left;
}

nav {

    float: right;
}

nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {

    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}

nav a {

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {

    border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 730px) {

    nav li {

        display: block;
        margin: 0;
        padding: 10px;
    }

    nav li:hover {

        background: #fff;
    }

    nav a {

        color: #ffffff;
    }

    nav a:hover {

        border: none;
    }
}

.Welcome-text {
    text-align: center;
    padding: 100px 0;
    color: var(--font--color--primary);
    background-color: var(--bg--secondaryf);
    margin-inline: 4rem;
    margin-top: 1rem;
}